@use 'abstracts' as *;

:root {
    @include inject-theme-vars($theme);
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

a {
    transition:
        color 0.1s ease-in-out,
        background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;

    &:hover {
        color: var(--color-primary);
    }
}
